@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
/*font-family: 'Lora', serif;*/

* {
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(241, 232, 219);
    text-align: center;
}
.container{
    width: 800px;
    margin: auto;
}
@media (max-width: 960px) {
/* For a screen < 960px, this CSS will be read */
    .container {
        width: 700px;
        margin: auto;
    }
}
@media (max-width: 720px) {
/* For a screen < 720px, this CSS will be read */
    .container {
        width: 500px;
        margin: auto;
    }
}
@media (max-width: 540px) {
/* For a screen < 540px, this CSS will be read */
    .container {
        width: 100%;
        margin: auto;
    }
    .card{
        margin: 0;
        margin: auto
    }
}

.card{
    background-color: white;
    box-shadow: 0px 0px 30px rgb(184, 183, 183);
    margin: 50px;
    padding: 50px 30px 50px 30px;
}
h1, h2, a{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-weight: 900;
    color: darkslateblue;
    margin-bottom: 20px;
}
img{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}
p{
    margin-bottom: 20px;
}
.btn_red{
    background-color: rgba(100, 214, 171, 0.7);
    margin: auto;
    width: 200px;
    height: 50px;
    border-radius: 10px;
}
.btn_red:hover{
    background-color: rgba(136, 238, 199, 1);
}
.btn_red a{
    text-decoration: none;
    line-height: 50px;
    font-weight: 700;
    color: white;
}
.btn_wagon:hover{
    color: black;
}
h2{
    font-weight: 500;
    color: crimson;
    margin-bottom: 20px;
}
ul li{
    display: inline-block;
    padding: 0px 20px;
}
ul li a{
    color: rgba(56, 38, 88, 0.5);
    list-style: none;
    font-size: 50px;
    
}
ul li a:hover{
    color:rgb(56, 38, 88)
}
